:root {
    --size: 18px;
    /* taille du curseur */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background-color: rgb(0, 0, 0);
    cursor: none;
    color: white;
    font-family: 'Roboto';

}

body {
    margin: 0px;
    padding: 0px;

}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

header {
    position: relative;
    overflow: hidden;
}

.container {

    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 70px;
    width: 100%;
}

/* Menu page d'accueil */

nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: 'Roboto';
    padding: 20px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;

}

/* ANIMATION DE LA NAV */
li a {
    position: relative;
    display: block;
    cursor: pointer;
}

li a:before,
li:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
}

li a:before {
    left: -2.5px;
}

li :after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li a:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

/* Text accueil */

h2 {
    font-size: 75px;
    margin: 0;
    text-decoration: none;
    color: white;
    font-family: 'Raleway';
    font-weight: 700;

}

#landing .content {
    position: absolute;
    left: 5%;
    top: 28%;
    padding: 50px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

/* Animation du texte page d'accueil */
.content {
    animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        opacity: 0.5;
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}


/* Comportement du curseur pour les balises principales */
a {
    cursor: none;
}

button {
    cursor: none;
}

svg {
    cursor: none;
}

input {
    cursor: none;
}

textarea {
    cursor: none;
}

/* POUR FAIRE LE CURSEUR EN FORME DE BOULE ROUGE REC */

#curseur {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    background-color: red;
    transform: translate3d(calc(100vw * var(--cursor-x) - var(--size) / 2),
            calc(100vh * var(--cursor-y) - var(--size) / 2),
            0);
    pointer-events: none;
}

#rec {
    font-family: "Arial";
    display: block;
    font-size: 0.6rem;
    text-align: center;
    margin: auto;
    font-weight: bold;
    margin-top: 99%;
    color: red;
    line-height: 1.9;
}

/* Video page d'accueil */

#videoAccueil {
    position: relative;
    max-width: 100%;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

/* Scroll bouton  */

.scroll {
    position: absolute;
    top: 80%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Light';
    font-weight: 300;
    margin-top: 0;
    text-align: center;

}

.fleche {
    animation: slide-bottom 1.5s ease-out infinite forwards;
    transition: none;
    display: inline-block;
}

.fleche svg {
    width: 1vw;
    max-width: 1.5rem;
    min-width: 1rem;
    transition: transform .4s ease-out;
    transform: rotate(90deg);
}

svg {
    fill: white;

}

/* Animation du scroll bouton (de la fleche) */

@keyframes slide-bottom {
    50% {
        opacity: .4;
        transform: translateY(2px);
    }

}

p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 4px;
}

/* PAGE 2 QUESTION PRINCIPAL AVEC GRADIENT */

#contentPage2 {
    background-color: black;
    height: 100vh;
    width: 100%;
    position: relative;
}

/*EFFET GRADIENT DU TEXTE*/
.title_2 {
    text-align: center;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #6355a4, red, #e89a3e, aqua);
    background-size: 300%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 5vw;
    word-spacing: 10px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* -webkit-text-fill-color: transparent;/ */
    animation: animGradient 1s linear infinite;
}

/*ANIMATION DU TEXTE GRADIENT*/

@keyframes animGradient {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}