<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find me.</title>
    <link rel="stylesheet" href="../assets/css/questions.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- MENU -->
    <div class="header_accueil">
        <!-- LOGO -->
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/img/logonew.png" width="100px" alt="">
            </a>

        </div>


        <!-- NAV -->
        <div>
            <nav>
                <ul>
                    <li><a href="#allQuestions">Find
                            me a movie</a></li>
                    <li><a href="#">All movies</a></li>
                    <li><a href="connexion.html">Sign in/up</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>


    </div>

    <!-- QUESTIONS -->
    <div id="allQuestions">

        <!-- QUESTION 1 -->
        <div class="questions" id="q1">
            <div class="left">
                <p class="questionNumber">01</p>
                <h2>Who you want <br> to watch a movie with?</h2>
            </div>

            <div class="right">
                <div>
                    <input type="radio" name="q1" id="betterHalf" value="betterHalf">
                    <label for="betterHalf">My better half</label>
                </div>

                <div>
                    <input type="radio" name="q1" id="parents" value="parents">
                    <label for="parents">My parents (careful what you choose..)</label>
                </div>

                <div>
                    <input type="radio" name="q1" id="children" value="children">
                    <label for="children">My children (but pls I don't want to watch Frozen)</label>
                </div>

                <div>
                    <input type="radio" name="q1" id="friend" value="friend">
                    <label for="friend">My friend (I do have some, honest)</label>
                </div>

                <div>
                    <input type="radio" name="q1" id="no_one" value="no_one">
                    <label for="no_one">No-one. I like my own company!</label>
                </div>

                <div>
                    <input type="radio" name="q1" id="random" value="random">
                    <label for="random">I don't care! I just want to watch a movie. Suprise me!</label>
                </div>

            </div>
        </div>

        <!-- QUESTION 2 -->
        <div class="questions" id="q2">
            <div class="left">
                <p class="questionNumber">02</p>
                <h2>What are you looking for?</h2>
                <button id="previousQ1" class="previous"> Previous</button>
            </div>


            <div class="right">
                <div>
                    <input type="radio" name="q2" id="smart" value="smart">
                    <label for="smart">I want to feel smarter! Show me something that will make me think</label>
                </div>

                <div>
                    <input type="radio" name="q2" id="laugh" value="laugh">
                    <label for="laugh">I want to laugh my socks off</label>
                </div>

                <div>
                    <input type="radio" name="q2" id="cry" value="cry">
                    <label for="cry">Pass me the tissues and make me weep</label>
                </div>

                <div>
                    <input type="radio" name="q2" id="more" value="more">
                    <label for="more">I don't know. Have you got more options?</label>
                </div>

                <div>
                    <input type="radio" name="q2" id="random" value="random">
                    <label for="random">I don't care! I just want to watch a movie. Suprise me!</label>
                </div>


            </div>
        </div>

        <!-- QUESTION 3  -->

        <div class="questions" id="q3">
            <div class="left">
                <p class="questionNumber">03</p>
                <h2>Ok. Will these do?</h2>
                <button id="previousQ1" class="previous"> Previous</button>
            </div>


            <div class="right">
                <div>
                    <input type="radio" name="q3" id="love" value="love">
                    <label for="love">What's like to fall in love? Remind me.</label>
                </div>

                <div>
                    <input type="radio" name="q3" id="action" value="action">
                    <label for="action">I want action!</label>
                </div>

                <div>
                    <input type="radio" name="q3" id="scare" value="scare">
                    <label for="scare">Scare me! Even more than when I look at my bills </label>
                </div>

                <div>
                    <input type="radio" name="q3" id="teen" value="teen">
                    <label for="teen">I want to be fifteen again, show me a teen movie.</label>
                </div>

                <div>
                    <input type="radio" name="q3" id="random" value="random">
                    <label for="random">I already told you! I don't care what I watch. Suprise me!</label>
                </div>


            </div>
        </div>

        <!-- QUESTION 4  -->

        <div class="questions" id="q4">
            <div class="left">
                <p class="questionNumber">04</p>
                <h2>Last one. <br> How much time have you got ?</h2>
                <button id="previousQ1" class="previous"> Previous</button>
            </div>


            <div class="right">
                <div>
                    <input type="radio" name="q3" id="moreThan1" value="moreThan1">
                    <label for="moreThan1">All the time in the world! More than an hour</label>
                </div>

                <div>
                    <input type="radio" name="q3" id="lessThan1" value="lessThan1">
                    <label for="lessThan1">My lunch break. Less than an hour</label>
                </div>

                <div>
                    <input type="radio" name="q3" id="less30" value="less30">
                    <label for="less30">Time for a power-nap! Less than 30min </label>
                </div>

                <div>
                    <input type="radio" name="q3" id="random" value="random">
                    <label for="random"> I don't give a monkeys. Suprise me!</label>
                </div>

            </div>

        </div>

    </div>
    <script src="../assets/scripts/questions.js"></script>
</body>

</html>