.hidden {
    display: none;
}

.show{
    display: flex;
}

/* QUESTIONS */
#allQuestions {
    padding-top:200px;
    margin-top:100px;
    height: 100vh;
}

@media(max-width : 765px) {
    #allQuestions {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 120px;
    }
   
}

.questions {    
    width: 100%;
    display: flex;
    align-items: center;

}

#q3 .right{
    margin-top: 10%;
}
.left {
    border-right: 1px solid rgb(255, 255, 255);
    width: 50%;
}

@media(max-width : 767px) {
  
    #q1, #q2,#q3 {
     
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    .questionNumber{
        margin:0;
    }



    .left {
        font-size: 1rem;
        border: none;
        width: 100%;
        position:relative;
    }

    .left h2 {
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 10px;
        margin: 0px;

    }

  

    .left .questionNumber {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 3vh;
        
    }
    
}

@media (max-width : 765px) {
    .right .random {
        border: 1px solid white;
        padding: 5px;
    }
}

.right div {
    padding: 10px;
    margin: 10px;
    font-weight: 100;
    font-size: 1.5rem;
   
}
@media (max-width: 765px){
    .right div {
        font-size: 1rem;
        margin-bottom: 0px;
        padding: 5px;
       
    }
}

label:hover {
    text-decoration: underline;
}

.questionNumber {
    font-size: 20rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    margin: 0;
    margin-right: 20px;
    font-size: 6.3rem;
    font-weight: 100;
    text-align: center;
}

#btn{
    display: flex;
    justify-content: right ;
    width: 100%;
}
.previous{
    display: inline-block;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 0.9rem;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 1.11111111em;
    padding: 1.11111111em 2.11111111em;
    padding-top: 1.11111em;
    padding-right: 2.11111em;
    padding-bottom: 1.11111em;
    padding-left: 2.11111em;
    margin-left: 2vw;
   
    margin-top: 6vh;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
#btn1{    
    display: block;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 300;
    
    padding: 20px 38px; 
    left: 9vw;
    margin-top: 16vh;
  
    background-color: transparent;
    color: white;
    border: 1px solid white;
  
 
}
@media(max-width: 765px){
    #btn1{
        font-size: 15px;
        padding: 15px 20px; 
        margin-right: 5vw;
        margin-top: 7vh;
        margin-bottom: 15vh;
    }
    .previous{
       
        font-size: 10px;
        padding: 5px 10px;
        position: absolute;
        top:4vh;
        left:8vw;
        
    }
}
.previous:hover, #btn1:hover {
    color: black;
    background-color: white;
    font-weight: 800;
}

@media (max-width : 767px) {
    .previous {
        display: block;
        margin-top:0;
    }
}


#q2 {
    display: none;
}

#q3 {
    display: none;
}

#q4 {
    display: none;
}

.random {

    background: linear-gradient(-45deg, #6355a4, red, #e89a3e, aqua);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: animGradient 5s linear infinite;

}

.random a {
    font-weight: 500;
}


/*ANIMATION DU TEXTE GRADIENT*/


@keyframes animGradient {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}